.container-fluid {
    background-color: saddlebrown;
}
.text-nowrap{
    background-color: wheat;
}
.navbar {
    display: auto;
    
    /*position: sticky;
    position: -webkit-sticky;
    */
    
}
#contentBox{
    border: 3px dotted maroon;
    text-decoration: aqua;
    
}
.card{
    background-color: darkcyan;
}
#footer
{
    background-color: royalblue;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
