.navbar {
    display: auto;
}
#contentBox{
    border: 3px dotted maroon;
    /* background-color: blueviolet; */
    text-decoration: aqua;
}
.card{
    background-color: darkcyan;
}
#footer
{
    background-color: royalblue;
}
